.idea
.devlogs
.env
.DS_Store
dist
node_modules/
package.json
package-lock.json
npm-debug.log
coverage.out
coverage.html
logger.log
report.xml
apps/did-registrar/main
apps/did-registry/main
apps/demo-client/main
apps/demo-client/main.exe
apps/demo-issuer/main
apps/demo-issuer/main.exe
apps/demo-rp/main
apps/demo-rp/main.exe
*.exe
android/.gradle/
android/local.properties
android/.idea/
android/app/build/
android/build/
android/app/.cxx/
