.idea
.devlogs
.env
.DS_Store
dist
coverage.out
coverage.html
logger.log
report.xml
apps/did-sep/main
apps/did-registry/main
apps/demo-client/main
apps/demo-client/main.exe
apps/demo-issuer/main
apps/demo-issuer/main.exe
apps/demo-rp/main
apps/demo-rp/main.exe
*.exe
