.idea
.devlogs
.env
.DS_Store
dist
coverage.out
coverage.html
logger.log
report.xml
did_registrar/main
did_registry/main
greeter_client/main
greeter_client/main.exe
greeter_issuer/main
greeter_issuer/main.exe
greeter_server/main
greeter_server/main.exe
*.exe
